<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FAQ List</title>
</head>
<body>
    <a href="{% url 'movie_list' %}">Home</a>
    {% if user.is_authenticated and user.is_stuff %}
    <a href="{% url 'movie_new' %}">Add new movie</a>
    {% endif %}
    <a href="{% url 'movie_news' %}">News</a>
    <a href="{% url 'stats' %}">Statistics</a>
    <a href="{% url 'about_us' %}">Learn about us</a>
    <a href="{% url 'terms_of_use'%}">Terms of use</a>
    <a href="{% url 'review_list'%}">Reviews</a>
    <a href="{% url 'faq_list' %}">FAQ</a>
    <a href="{% url 'promocode_list'%}">Promocodes</a>
    <a href="{% url 'vacancy_list'%}">Work with us!</a>
    <div class="header">
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'sign_up' %}">Sign Up</a>
        {% endif %}
    </div>
    <h1>Frequently Asked Questions</h1>
    <ul>
        {% for faq in faqs %}
            <li>
                <a href="{% url 'faq_detail' faq.pk %}">{{ faq.question }}</a> - {{ faq.created_at }}
            </li>
        {% endfor %}
    </ul>
</body>
</html>
